{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, sint nihil sunt quos ullam natus facilis aspernatur repellendus doloremque laboriosam alias at illo distinctio, eos itaque placeat vel! Fugit, molestias!
        Nemo hic assumenda velit quidem non ab iste ducimus ipsa nihil, sunt molestiae excepturi sit at eum ex inventore ipsam architecto alias cum! Vero blanditiis impedit laborum deleniti ad repellat.
        Molestias tempore consequuntur saepe impedit quia corporis similique possimus culpa inventore placeat veritatis dolores molestiae et deserunt soluta officia in, id repellat numquam? Voluptatum magni iste voluptas officiis, ex error.
        Repellendus sed incidunt voluptatum accusamus a laboriosam, iusto, pariatur, facilis excepturi impedit iure odio sequi doloremque quis ad consectetur atque. Quas, aliquam repudiandae minus impedit perferendis animi distinctio officiis quos?
        Distinctio placeat magni a vel facere iste minima obcaecati, nulla ab nemo corrupti provident ex id laboriosam commodi debitis dolorum, omnis repellendus quam sunt consequatur voluptatibus nostrum dolores! Ipsa, id.
        Ab velit minus eveniet! Dolorum sint fugiat, officia necessitatibus odit tenetur atque ut? Quidem debitis ex vel rerum quo consequuntur porro, tempore laboriosam quibusdam sed ullam numquam, dolores quis iste?
        Ullam eum magnam labore amet consequatur possimus quia deserunt! Sunt praesentium nemo ea modi voluptatibus? Illo itaque eveniet repudiandae repellendus magni, voluptas, architecto cupiditate consectetur, quo consequatur commodi voluptate provident.
        Esse, fugiat! Consequatur cumque rerum aliquam doloribus dolore. Doloribus saepe vel alias quas necessitatibus molestias? Accusantium est ipsum consectetur fuga id velit maiores? Expedita atque sunt optio itaque dolorem error!
        Delectus similique facere ab dolore quo explicabo rerum autem facilis quod sit, maxime quas veniam consequuntur repellat soluta nam ullam eligendi, ratione eaque! Officia pariatur delectus excepturi eos, facere ducimus.
        </p>
        

        <div class="text-center">
            <a class="btn btn-secondary" href="/login/">
                Login
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signin
            </a>

            
    
        </div>
        
    </section>
</main>    
{% endblock %}